<!-- Begin : Footer -->
<footer>
    <p class="text-center text-muted">
      © Copyright 2021 - <a href="https://www.victorvr.com" target="_blank">Victor Valencia Rico</a>
    </p>  
</footer>
<!-- End : Footer -->