<!-- Begin : Header -->
<nav class="navbar sticky-top navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#">
    <i class="fa fa-book"></i> API REST - <%= page %>
  </a>
  <span class="navbar-text"></span> 
  <span class="navbar-text">
  <% if(api_key != null){ %>API Key: <b class="pr-4"><%= api_key %></b><% } %> Client: <b class="pr-4"><%= client_db %></b> v<%= version %></span>
</nav>
<!-- End : Header -->